<div ng-controller="Dash as dash">
	<div>
		<label>
			Email
			<input type="email" ng-model="dash.email" ng-disabled="main.authorized"/>
		</label>
		<button ng-click="dash.login(dash.email)" ng-disabled="main.authorized">Submit</button>
	</div>
	<div>
		<label>
			Status
			<input type="text" ng-model="dash.status" disabled/>
		</label>
	</div>
	
	<fieldset>
		<legend>API Resources</legend>

		<span>
			Open Resource
		</span><br>
		<input type="text" ng-model="dash.openValue" disabled/>
		<button ng-click="dash.getOpen()">Submit</button>
		<br>

		<span>
			Restricted Resource
		</span><br>
		<input type="text" ng-model="dash.restrictedValue" disabled/>
		<button ng-click="dash.getRestricted()">Submit</button>
		
	</fieldset>
</div>