<div ng-controller="Dash as dash">
	<div>
		<label>
			Status
			<input type="text" ng-model="dash.status" disabled/>
		</label>
	</div>
	<div>
		<label>
			Email
			<input type="email" ng-model="dash.email" />
		</label>
		<button ng-click="dash.login(dash.email)">Submit</button>
	</div>
	<div>
		<div>
			Open Resource
		</div>
		<input type="text" ng-model="dash.openValue" disabled/>
		<button ng-click="dash.getOpen()">Submit</button>
	</div>
	<div>
		<div>
			Restricted Resource
		</div>
		<input type="text" ng-model="dash.restrictedValue" disabled/>
		<button ng-click="dash.getRestricted()">Submit</button>
	</div>
</div>